.bigbox {
  min-width: 1330px; }
  .bigbox .nav {
    width: 460px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 20px;
    font-style: italic; }
    .bigbox .nav a {
      color: #5c5c5c;
      margin-right: 56px; }
  .bigbox .navfixed {
    width: 460px;
    font-size: 18px;
    font-style: italic;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -230px; }
    .bigbox .navfixed a {
      color: #5c5c5c;
      margin-right: 56px; }
  .bigbox .title {
    color: #5c5c5c;
    width: 540px;
    margin: 0 auto;
    text-align: center; }
    .bigbox .title .firstTitle {
      font-size: 15px;
      font-style: italic;
      margin-top: 135px;
      margin-bottom: 15px; }
    .bigbox .title .secondTitle {
      font-size: 80px;
      letter-spacing: 8px;
      margin-bottom: 30px; }
    .bigbox .title .thirdTitle {
      font-size: 28px;
      font-style: italic;
      letter-spacing: 10px; }
  .bigbox .list {
    width: 1420px;
    margin: 125px auto 0;
    overflow: hidden;
    color: #5c5c5c; }
    .bigbox .list div {
      width: 360px;
      float: left;
      margin-right: 170px;
      text-align: center; }
      .bigbox .list div .Title {
        font-size: 20px;
        margin: 25px 0 40px 0; }
      .bigbox .list div .content {
        font-size: 12px;
        line-height: 15px; }
    .bigbox .list .demand {
      margin-right: 0; }
  .bigbox .concept {
    color: #5c5c5c;
    text-align: center; }
    .bigbox .concept .one {
      font-size: 30px;
      font-style: italic;
      letter-spacing: 10px;
      margin-top: 150px;
      margin-bottom: 85px; }
    .bigbox .concept .two {
      font-size: 20px;
      font-style: italic;
      letter-spacing: 5px;
      line-height: 25px; }
  .bigbox .team, .bigbox .design {
    text-align: center; }
    .bigbox .team .title, .bigbox .design .title {
      font-style: italic;
      margin-top: 80px;
      margin-bottom: 35px; }
    .bigbox .team .Title, .bigbox .design .Title {
      font-size: 30px;
      margin-top: 60px;
      font-style: italic;
      color: #5c5c5c; }
    .bigbox .team .content, .bigbox .design .content {
      color: #5c5c5c;
      font-style: italic;
      font-size: 20px;
      line-height: 25px;
      margin-top: 60px; }
  .bigbox .media {
    text-align: center; }
    .bigbox .media .title {
      font-style: italic;
      margin-top: 170px;
      margin-bottom: 60px; }
  .bigbox .contact {
    text-align: center;
    margin-bottom: 110px; }
    .bigbox .contact .title {
      font-style: italic;
      margin-top: 130px;
      margin-bottom: 45px; }
    .bigbox .contact .content {
      font-size: 41px;
      color: #5c5c5c;
      letter-spacing: 10px;
      font-style: italic;
      line-height: 45px; }
    .bigbox .contact .thirdParty {
      width: 145px;
      margin: 60px auto 70px; }
      .bigbox .contact .thirdParty img {
        margin-right: 35px; }
      .bigbox .contact .thirdParty .rightNone {
        margin-right: 0; }
    .bigbox .contact .address {
      font-style: italic;
      word-spacing: 5px;
      letter-spacing: 2px;
      color: #5c5c5c; }
      .bigbox .contact .address a {
        color: #ac879c; }
      .bigbox .contact .address .link {
        margin-top: 20px; }

/*# sourceMappingURL=about.css.map */
