.header{
	height:255px;
	background:white;
	font-weight: lighter;
	//头部用户登录
	.headerTop{
		width:1315px;
		margin:0 auto;
		color:#666666;
		font-size: 21px;
		.join{
			position: relative;
			top: 9px;
		}
		a{
			color:#666666;
		}
		.user{
			margin-left: 772px;
			margin-right: 142px;
		}
		.user,.shopping{
			position: relative;
			top: 9px;
			font-size: 18px;
		}
		.number{
			position: absolute;
			margin-left: 37px;
			width: 52px;
			height: 80px;
			.bags{
				vertical-align: top;
				position: absolute;
				z-index: 5;
			}
			.numberbackground{
				position: absolute;
				top: 0;
				left: -9px;
				display: none;
			}
			.dotnum{
				position: absolute;
				top: 30px;
				left: 9px;
				width: 14px;
				height: 14px;
				border: 2px solid #9d6f89;
				z-index: 50;
				background:white;
				border-radius: 50%;
				font-size: 13px;
				line-height: 14px;
				text-align: center;
				color: #666;
				display: none;
			}
		}
	}
	//头部logo
	.headerTitle{
		min-width: 1315px;
		margin-top: 65px;
		text-align: center;
	}
	//头部导航条
	.headerNav{
		min-width: 1330px;
		ul{
			width: 775px;
			margin: 47px auto 14px;
			overflow: hidden;
			li{
				float: left;
				margin-right: 145px;
				font-size: 21px;
				a{
					color:#666;
				}
			}
			.rightNone{
				margin-right: 0;
			}
		}
	}
	.loginfirst{
		width: 100vw;
		height: 100vh;
		background: rgba(0,0,0,.5);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		display: none;
		.box{
			width: 600px;
			height: 765px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -300px;
			margin-top: -382px;
			color:#666666;
			.top{
				height: 650px;
				padding-top: 45px;
				padding-left: 38px;
				padding-right: 38px;
				background:white;
				text-align: center;
				font-size: 20px;
				.welcome{
					font-size: 25px;
					margin-bottom: 60px;
				}
				img{
					width: 165px;
				}
				.weibo{
					height: 46px;
					cursor: pointer;
					line-height: 46px;
					margin: 30px 0 20px 0;
					background:#f1ead8 25px 8px url(../img/weibologin.png) no-repeat;
				}
				.qq{
					height: 42px;
					cursor: pointer;
					line-height: 42px;
					border:2px solid #e3e3e3;
					background:url(../img/qqlogin.png) 23px 5px no-repeat;
				}
				.or{
					margin:40px 0 20px 0;
				}
				.email,.password{
					text-align: left;
				}
				.emailInput{
					margin-bottom: 25px;
				}
				input{
					display: block;
					height: 38px;
					width: 100%;
					border: 1px solid #e3e3e3;
					margin-top: 10px;
				}
				.submit{
					cursor: pointer;
					height: 48px;
					border:1px solid #e3e3e3;
					background:#c4a9b8;
					line-height: 48px;
					width: 100%;
					margin-top: 15px;
					color: white;
				}
				.forget{
					margin-top: 20px;
					a{
						color:#666666;
					}
				}
			}
			.loginbottom{
				height: 55px;
				background:black;
				line-height: 55px;
				color: white;
				text-align: center;
				cursor: pointer;
				margin-top: 14px;
				text-decoration: underline;
			}
		}
	}
	.registeredOne{
		width: 100vw;
		height: 100vh;
		background: rgba(0,0,0,.5);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		display: none;
		.box{
			width: 600px;
			height: 765px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -300px;
			margin-top: -382px;
			color:#666666;
			.top{
				height: 650px;
				padding-top: 45px;
				padding-left: 38px;
				padding-right: 38px;
				background:white;
				text-align: center;
				font-size: 20px;
				.title{
					font-size: 40px;
					margin-top: 100px;
				}
				.content{
					margin-top: 50px;
					margin-bottom: 25px;
				}
				.email{
					text-align: left;
				}
				input{
					display: block;
					height: 38px;
					width: 100%;
					border: 1px solid #e3e3e3;
					margin-top: 10px;
					margin-bottom: 20px;
				}
				.submit{
					cursor: pointer;
					height: 48px;
					border:1px solid #e3e3e3;
					background:#c4a9b8;
					line-height: 48px;
					width: 100%;
					margin-top: 20px;
					color: white;
				}
				.weibo{
					height: 46px;
					cursor: pointer;
					line-height: 46px;
					margin: 20px 0 20px 0;
					background:#f1ead8 25px 8px url(../img/weibologin.png) no-repeat;
				}
				.qq{
					height: 42px;
					cursor: pointer;
					line-height: 42px;
					border:2px solid #e3e3e3;
					background:url(../img/qqlogin.png) 23px 5px no-repeat;
				}
			}
			.loginbottom{
				height: 55px;
				background:black;
				line-height: 55px;
				color: white;
				text-align: center;
				margin-top: 14px;
				text-decoration: underline;
				a{
					color:white;
				}
			}
		}
	}
	.registeredTwo{
		width: 100vw;
		height: 100vh;
		background: rgba(0,0,0,.5);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		display: none;
		.box{
			width: 524px;
			height: 550px;
			padding-top: 40px;
			padding-left: 38px;
			padding-right: 38px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -300px;
			margin-top: -295px;
			color:#666666;
			background:white;
			text-align: center;
			font-size: 20px;
			.title{
				font-size: 40px;
				letter-spacing: 3px;
			}
			input{
				display: block;
				height: 38px;
				width: 100%;
				border: 1px solid #e3e3e3;
				margin-top: 10px;
				margin-bottom: 20px;
			}
			.name{
				margin-top: 105px;
			}
			.name,.password,.tel{
				text-align: left;
			}
			.logining{
				height: 50px;
				border:1px solid #e3e3e3;
				line-height: 50px;
				background:#c4a9b8;
				margin-top: 45px;
			}
		}
	}
}