div.header
	div.headerTop
		span.join
			a(href="#") 加入会员，
			span
				a(href="#") 首单免邮
		span.user
			a(href="javascritp:void(0);" class="reg") 注册
			span |
			a(href="javascritp:void(0);" class="login") 登录
		span.shopping
			a(href="#") 购物袋
		span.number
			img(class="bags" src="../img/shoppingBags.png" alt="购物袋")
			img(class="numberbackground" src="../img/number.png")
			span.dotnum 3
	div.headerTitle
		img(src="../img/logo.png" alt="logo")
	div.headerNav
		ul
			li
				a(href="index.html") 产品目录
			li
				a(href="story.html") 工厂故事
			li
				a(href="javascritp:void(0);") 优惠策略
			li.rightNone
				a(href="about.html") 关于我们
	div.steps
		ul
			li
			li
			li
			li
	div.loginfirst
		div.box
			div.top
				p.welcome -欢迎回来-
				img(src="../img/logo.png")
				div.weibo 微博账户登录
				div.qq qq账户登录
				p.or -or-
				p.email 邮箱
				input(type="text" class="emailInput")
				p.password 密码
				input(type="password" class="passwordInput")
				div.submit 登录
				p.forget 
					a(href="#") 忘记密码？点击这里
			div.loginbottom 注册META
	div.registeredOne
		div.box
			div.top
				p.title 加入META会员计划
				p.content 市场上的产品，<br>一般都是8倍于其成本进行销售,<br>但是，在META绝不是这样<br>我们将会坚持我们的极致透明策略,<br>去除一切中间商，减少供应链，提供<br>优质、低廉价格的设计师产品。
				p.email 邮箱
				input(type="text" class="emailInput")
				div.submit 创建账户
				div.weibo 微博账户登录
				div.qq qq账户登录
			div.loginbottom 
				a(href="#") 已注册？登录
	div.registeredTwo
		div.box
			p.title 注册即将完成
			p.name 姓名
			input(type="text" class="emailInput")
			p.password 密码
			input(type="password" class="passwordInput")
			p.tel 手机号码
			input(type="text" class="tellInput")
			div.logining 登录中
