doctype
html
	head
		meta(charset="utf-8")
		title 主页
		link(rel="stylesheet" href="../css/reset.css")
		link(rel="stylesheet" href="../css/header.css")
		link(rel="stylesheet" href="../css/index.css")
		link(rel="stylesheet" href="../css/bottom.css")
	body
		include header.jade
		div.tab
			img(class="active" src="../img/tabImg.png")
			img(src="../img/tabImg.png")
			img(src="../img/tabImg.png")
			ol
				li#active.leftNone
				li
				li
		div.main
			div.backpack
				p 双肩包系列
				div
					a(href="buy.html")
						img(src="../img/bagImg.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/bagImg.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/bagImg.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/bagImg.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/bagImg.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
			div.SingleShouldBag
				p 单肩包系列
				div
					a(href="buy.html")
						img(src="../img/danjian.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/danjian.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/danjian.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/danjian.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
			div.WsahGargleBag
				p 洗漱包系列
				div
					a(href="buy.html")
						img(src="../img/xishubao.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
				div
					a(href="buy.html")
						img(src="../img/xishubao.png" alt="img")
					span
						a(href="buy.html") 麦塔双肩包 - ￥349
		include bottom.jade
	script(src="../js/index.js")
	script(src="../js/header.js")